/*CSS RESET*/

* {
  margin: 0px;
  padding: 0px;
  /* outline:1px solid black; */
  color: #FAFAFA;
  font-family: sans-serif;
}

@media only screen and (max-width:1023px){
  
  /*WRAPPER*/
  
  .wrapper {
    width: 100%;
    margin: 0px auto;
    background-color: #212121;
    box-shadow: 0px 0px 3px 3px #000;
    padding-bottom: 10vh;
  }
  
  /*HEADER*/
  
  .header {}
  
  .header img {
    width: 35%;
    display: inline-block;
  }
  
  .header h1 {
    display: inline-block;
    vertical-align: top;
    font-size: 7vw;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 3px #000;
    color: #0277BD;
  }
  
  .logo {
    width: 48%;
    display: inline-block;
  }
  
  .login {
    width: 20%;
    display: inline-block;
    margin-left: 20vw;
    vertical-align: top;
  }
  
  .login p {
    display: block;
    font-size: 1.5vw;
    margin: .5vw;
    text-shadow: 2px 2px 3px #000;
    font-family: 'Pacifico', cursive;
  }
  
  .login input {
    display: block;
    font-size: 1vw;
    padding: .5vw;
    margin: .5vw;
    color: black;
    border-radius: 3px;
    border: none;
  }
  
  .login a {
    display: block;
    padding: .5vw;
    background-color: #0277BD;
    border-radius: 5px;
    text-align: center;
    width: 60%;
    margin: .5vw;
    text-decoration: none;
    text-shadow: 2px 2px 3px #000;
    border: 1px solid black;
    font-size: 1vw;
  }
  
  /*BODY*/
  
  .body {
    width: 100%;
    text-align: left;
  }
  
  .body img {
    width: 30%;
    display: inline-block;
    margin: 1.5vw;
  }
  
  .album_content {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin: .5vw;
  }
  .album_content h1, h2{
      font-size:2vw;
  }
  
  .body h1, h2, p {
    margin: .5vw;
    font-weight: 200;
  }
  
  .body p {
    font-size: 1vw;
  }
  
  .body a {
    margin: .5vw;
    font-size: 1vw;
  }
  
  .album_comments {
    border: 3px solid #FAFAFA;
    border-radius: 3px;
    width: 90%;
    margin: .5vw auto;
  }
  .album_comments h1{
      font-size:2vw;
  }
  
  .comment {
    border: 2px solid #FAFAFA;
    border-radius: 3px;
    margin: .5vw auto;
    width: 90%;
  }
  
  .comment img {
    width: 7%;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid black;
    margin: .5vw;
  }
  
  .comment .content {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    margin: .5vw;
  }
  
  .rock {
    background-color: #0277BD;
    color: black;
    padding: .5vw;
    margin: .5vw;
    border-radius: 7px;
    font-size: 1.5vw;
    border: none;
  }
  
  .rock img {
    width: 2vw;
    margin: 0px;
  }
  
  .album_content p {
    display: inline-block;
  }
  
  .comment textarea {
    width: 96%;
    height: 7vh;
    resize: none;
    white-space: nowrap;
    margin: .5vw;
    border-radius: 3px;
    color: black;
    padding: .5vw;
    font-size: 1vw;
  }
  
  .comment input {
    color: #FAFAFA;
    margin-left: .5vw;
    margin-bottom: .5vw;
    background-color: #0277BD;
    border: 1px solid black;
    border-radius: 3px;
    padding: .5vw 2vw;
    font-size: 1vw;
    text-shadow: 2px 2px 3px #000;
  }
  }

@media only screen and (min-width:1024px){
/*BODY*/

body {
  /* background-color: #212121; */
  background-image: url(images/stripes.png);
}

/*WRAPPER*/

.wrapper {
  width: 80%;
  margin: 0px auto;
  background-color: #212121;
  box-shadow: 0px 0px 3px 3px #000;
  padding-bottom: 10vh;
}

/*HEADER*/

.header {}

.header img {
  width: 35%;
  display: inline-block;
}

.header h1 {
  display: inline-block;
  vertical-align: top;
  font-size: 7vw;
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px 3px #000;
  color: #0277BD;
}

.logo {
  width: 48%;
  display: inline-block;
}

.login {
  width: 20%;
  display: inline-block;
  margin-left: 20vw;
  vertical-align: top;
}

.login p {
  display: block;
  font-size: 1.5vw;
  margin: .5vw;
  text-shadow: 2px 2px 3px #000;
  font-family: 'Pacifico', cursive;
}

.login input {
  display: block;
  font-size: 1vw;
  padding: .5vw;
  margin: .5vw;
  color: black;
  border-radius: 3px;
  border: none;
}

.login a {
  display: block;
  padding: .5vw;
  background-color: #0277BD;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  margin: .5vw;
  text-decoration: none;
  text-shadow: 2px 2px 3px #000;
  border: 1px solid black;
  font-size: 1vw;
}

/*BODY*/

.body {
  width: 100%;
  text-align: left;
}

.body img {
  width: 30%;
  display: inline-block;
  margin: 1.5vw;
}

.album_content {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  margin: .5vw;
}
.album_content h1, h2{
    font-size:2vw;
}

.body h1, h2, p {
  margin: .5vw;
  font-weight: 200;
}

.body p {
  font-size: 1vw;
}

.body a {
  margin: .5vw;
  font-size: 1vw;
}

.album_comments {
  border: 3px solid #FAFAFA;
  border-radius: 3px;
  width: 90%;
  margin: .5vw auto;
}
.album_comments h1{
    font-size:2vw;
}

.comment {
  border: 2px solid #FAFAFA;
  border-radius: 3px;
  margin: .5vw auto;
  width: 90%;
}

.comment img {
  width: 7%;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
  margin: .5vw;
}

.comment .content {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  margin: .5vw;
}

.rock {
  background-color: #0277BD;
  color: black;
  padding: .5vw;
  margin: .5vw;
  border-radius: 7px;
  font-size: 1.5vw;
  border: none;
}

.rock img {
  width: 2vw;
  margin: 0px;
}

.album_content p {
  display: inline-block;
}

.comment textarea {
  width: 96%;
  height: 7vh;
  resize: none;
  white-space: nowrap;
  margin: .5vw;
  border-radius: 3px;
  color: black;
  padding: .5vw;
  font-size: 1vw;
}

.comment input {
  color: #FAFAFA;
  margin-left: .5vw;
  margin-bottom: .5vw;
  background-color: #0277BD;
  border: 1px solid black;
  border-radius: 3px;
  padding: .5vw 2vw;
  font-size: 1vw;
  text-shadow: 2px 2px 3px #000;
}
}